<!--
  Generated template for the UserLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <h1>Masuk ke Vohisma Reporter</h1>
  <form (submit)="login()">
    <div class="alert-warning" *ngIf="error && error.length > 0">
      <i class="fa fa-exclamation-triangle"></i> {{error}}
    </div>

    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" name="username" [(ngModel)]="user.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button block color="secondary" [disabled]="isSending">
        <i class="fa fa-circle-o-notch fa-spin" *ngIf="isSending"></i> &nbsp; Login
      </button>
      <button ion-button block *ngIf="isUserNew()" [navPush]="signupActivation" color="danger">
        Kode Aktivasi
      </button>
    </div>
  </form>
  <div padding>
    <span style="margin: 20px 0">Belum punya akun?</span>
    <button ion-button color="primary" block [navPush]="signupPage">Daftar</button>
  </div>
</ion-content>
