<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="assets/logo.gif" alt="Logo SMKN 5">
  </div>
  <p>Aplikasi ini dibuat dengan tujuan memajukan SMKN 5 Malang, dan agar memudahkan dalam melaporkan dan memberi saran ke pihak SMKN 5 Malang yang bersangkutan.</p>
  <p>Dibuat oleh <strong>Raga Subekti (<a href="mailto:ragasubekti@outlook.com">ragasubekti@outlook.com</a>), Oky Mikhael <a href="mailto:okymikhael@gmail.com">okymikhael@gmail.com</a>)</strong></p>
  <b>&copy; 2017 REKAYASA PERANGKAT LUNAK SMK NEGERI 5 MALANG</b>
</ion-content>
