<!--
  Generated template for the SignupActivationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div class="center-me" style="margin-top: 20px" padding>
    <span style="color: #ccc">Kode Aktivasi</span>
  </div>
  <div class="center-me" padding>
    <h1 style="color: #4e8ef7; font-size: 60px; margin-bottom: 0">{{signupInfo.code.toUpperCase()}}</h1>
  </div>
  <div class="center-me" padding>
    <h2 style="margin: 0">{{signupInfo.username.toLowerCase()}}</h2>
  </div>
  <div class="center-me" padding>
    <p>Gunakan kode diatas untuk mengaktifkan akun anda. Caranya:</p>
  </div>
  <div class="center-me" padding>
    <ol>
      <li>Pergi ke TU</li>
      <li>Minta untuk aktivasi akun Vohisma Reporter</li>
      <li>Tunjukan kode tersebut dan beritahu username yang kamu daftarkan</li>
    </ol>
  </div>
  <div padding>
    <span style="margin: 20px 0">Akun sudah diaktifkan?</span>
    <button ion-button block color="secondary" [navPush]="userLogin">Login</button>
  </div>
</ion-content>
