<ion-tabs>
  <div>
    <ion-tab [root]="tab1Root" tabTitle="Beranda" tabIcon="home"></ion-tab>
    <!--<ion-tab [root]="tab2Root" tabTitle="Pengumuman" tabIcon="alert"></ion-tab>-->
    <!--<ion-tab [root]="tab3Root" tabTitle="Profil" tabIcon="contact"></ion-tab>-->
  </div>
</ion-tabs>
