<!--
  Generated template for the UserSignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>Daftar</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content padding>
  <h1>Daftar Vohisma Reporter</h1>
  <form (submit)="onSubmit(register)">
    <div class="alert-danger" *ngIf="error && error.length > 0">
      <i class="fa fa-exclamation-triangle"></i> &nbsp; {{error}}
    </div>
  <ion-list>

    <ion-item>
      <ion-label floating>Username (NIS)</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="register.username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nama</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="register.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Jenis Kelamin</ion-label>
      <ion-select [(ngModel)]="register.gender" name="gender" required>
        <ion-option>Laki-laki</ion-option>
        <ion-option>Perempuan</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="register.password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Verifikasi Password</ion-label>
      <ion-input type="password" name="vPassword" [(ngModel)]="register.vPassword" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="register.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>No. Telepon</ion-label>
      <ion-input type="text" name="phone" [(ngModel)]="register.phone" required></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block [disabled]="isLoading">
      <i class="fa fa-circle-o-notch fa-spin" *ngIf="isLoading"></i>&nbsp; Daftar</button>
  </div>
  </form>

  <div padding>
    <span style="margin: 20px 0">Sudah punya akun?</span>
    <button ion-button block color="secondary" [navPush]="userLogin">Login</button>
  </div>
</ion-content>
