<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="alert-danger" *ngIf="!user">
    <i class="fa fa-exclamation-triangle"></i> &nbsp; Terjadi kesalahan saat memuat profil
  </div>
  <ng-container *ngIf="user">
  <div class="avatar">
    <img src="assets/avatar.png" style="width: 150px; height: 150px; border-radius: 50%" style="">
  </div>

  <form>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input readonly [(ngModel)]="user.username" name="username"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>No. Telepon</ion-label>
      <ion-input [(ngModel)]="user.phone" name="phone"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password" name="passowrd"></ion-input>
    </ion-item>


    <ion-item *ngIf="user.password && user.password.length > 0">
      <ion-label floating>Ulangi Password</ion-label>
      <ion-input [(ngModel)]="user.verifyPass" type="password" name="vPassword"></ion-input>
    </ion-item>
    <button ion-button block color="primary">Simpan</button>
  </form>
  </ng-container>
</ion-content>
