<ion-header>
  <ion-toolbar>
    <ion-title>
      Komentar
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="alert-danger" *ngIf="error && error.length > 0"><i class="fa fa-exclamation-triangle"></i> &nbsp; {{error}}
</div>

<ion-content padding>
  <h4 style="text-transform: capitalize; font-weight: 400" padding>{{data.title.toLowerCase()}}</h4>
  <ion-card>
    <ion-card-content>
      <form (submit)="onSubmit(comment)">
        <div class="alert-danger" *ngIf="error && error.length > 0">
          {{error}}
        </div>
        <ion-item>
          <ion-label floating>Tulis komentar</ion-label>
          <ion-textarea rows="3" name="comment" [(ngModel)]="comment"></ion-textarea>
        </ion-item>
        <button ion-button small [disabled]="isSending">
          <i class="fa fa-circle-o-notch fa-spin" *ngIf="isSending">&nbsp;</i> Kirim
        </button>
      </form>
    </ion-card-content>
  </ion-card>

  <div class="center-me" *ngIf="isLoading">
    <i class="fa fa circle-o-notch fa-spin"></i>
  </div>

  <div *ngIf="getError && getError.length > 0">
    <i class="fa fa-exclamation-triangle"></i> &nbsp; {{getError}}
  </div>

  <ng-container *ngIf="commentArray.length > 0">
    <ion-card *ngFor="let comment of commentArray">
      <ion-item>
        <ng-container *ngIf="userProvider.userInfo.level < 30 || userProvider.userInfo.username == comment.username">
          <button ion-button icon-only (click)="openMenu($event, data)"
                  style="float: right; display: inline-block; width: 50px; height: 50px" clear>
            <ion-icon name="more"></ion-icon>
          </button>
        </ng-container>
        <ion-avatar item-start>
          <img src="assets/avatar.png">
        </ion-avatar>
        <h2 style="text-transform: capitalize">{{comment.full_name.toLowerCase()}} <span
          style="font-size: small; text-transform: lowercase">@{{comment.username.toLowerCase()}}</span>
        </h2>
        <p>
          <i class="fa fa-clock-o"></i> &nbsp; {{comment.created_at | date: "dd MMM yyyy HH:mm"}}
        </p>

      </ion-item>
      <ion-card-content>{{comment.comment }}</ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
