<ion-header>
  <ion-navbar>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beranda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="cards-bg social-cards" style="margin-bottom: 50px">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createPost()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="isLoading"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!isLoading && postArray.length <= 0">
    <div class="alert-info">
      Tidak ada kiriman
    </div>
  </ng-container>
  <ng-container *ngIf="postArray.length > 0">
    <div class="alert-danger" *ngIf="error && error.length > 0">{{error}}</div>
    <ng-container *ngIf="!error">
      <ion-card *ngFor="let row of postArray">
        <ion-item>
          <button ion-button icon-only (click)="openMenu($event, row)"
                  style="float: right; display: inline-block; width: 25px; height: 25px" clear>
            <ion-icon name="more"></ion-icon>
          </button>
          <ion-avatar item-start>
            <img src="assets/avatar.png">
          </ion-avatar>
          <h2 style="text-transform: capitalize; text-overflow: ellipsis; overflow: hidden">
            {{row.title.toLowerCase()}}</h2>
          <p>
            <span style="text-transform: capitalize; font-weight: 800">{{row.full_name.toLowerCase()}}</span>
            @{{row.username.toLowerCase()}}<br>
            <ion-row>
              <ion-col>
                <ion-icon name="pin"></ion-icon> &nbsp;{{row.location}}
              </ion-col>
              <ion-col>
                <i class="fa fa-clock-o"></i> &nbsp; {{row.created_at | date: "dd MMM yyyy HH:mm"}}
              </ion-col>
            </ion-row>
          </p>

        </ion-item>
        <ng-container *ngIf="row.media.length > 0 && row.media != 'null'">
          <div style="position: relative;height:300px;overflow: hidden;">
            <img [src]="parseImage(row.files[0])">
          </div>
        </ng-container>
        <ion-card-content>
          <p>{{row.information}}</p>
        </ion-card-content>
        <ion-row>
          <!--<ion-col>-->
          <!--<button ion-button color="primary" clear small block>-->
          <!--<i class="fa fa-star"></i> &nbsp; Vote-->
          <!--</button>-->
          <!--</ion-col>-->
          <ion-col>
            <button ion-button color="primary" clear small block (click)="onCommentClick(row)">
              <ion-icon name='text'></ion-icon>
              &nbsp; Komentar
            </button>
          </ion-col>
          <ion-col>
            <button ion-button color="primary" clear small block
                    *ngIf="userProvider.userInfo.level < 30 && canResponse(row.topic)" (click)="onResponse(row)">
              <i class="fa fa-reply"></i>
              &nbsp; Tanggapi
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
  </ng-container>

</ion-content>
