<ion-header>
  <ion-toolbar>
    <ion-title>
      Tanggapi
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="currentResponse">
    <ion-card>
      <ion-card-header>
        Tanggapan yang tersimpan
      </ion-card-header>
      <ion-list>
        <button ion-item>
          <ion-row>
            <ion-col style="font-weight: 800">Tipe</ion-col>
            <ion-col>{{currentResponse.type.toUpperCase()}}</ion-col>
          </ion-row>
        </button>
      </ion-list>
      <ion-list>
        <button ion-item>
          <ion-row>
            <ion-col style="font-weight: 800">Oleh</ion-col>
            <ion-col>{{currentResponse.full_name.toUpperCase()}} <i>({{currentResponse.username.toLowerCase()}})</i></ion-col>
          </ion-row>
        </button>
      </ion-list>
      <ion-list>
        <button ion-item>
          <ion-row>
            <ion-col style="font-weight: 800">Pada</ion-col>
            <ion-col>{{currentResponse.created_at | date:"dd MMMM yyyy HH:mm"}}</ion-col>
          </ion-row>
        </button>
      </ion-list>
      <ion-list *ngIf="currentResponse.updated_at && currentResponse.updated_at.length > 0">
        <button ion-item>
          <ion-row>
            <ion-col style="font-weight: 800">Diperbarui</ion-col>
            <ion-col>{{currentResponse.updated_at | date:"dd MMMM yyyy HH:mm"}}</ion-col>
          </ion-row>
        </button>
      </ion-list>
      <ion-card-content>
        <strong>Keterangan</strong><br>
        <p>{{currentResponse.information}}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <form (submit)="onSubmit(response)" *ngIf="userProvider.userInfo && userProvider.userInfo.level < 30">
    <div class="alert-danger" *ngIf="error && error.length > 0">
      <i class="fa fa-exclamation-triangle"></i> &nbsp; {{error}}
    </div>
    <ion-list>

      <ion-item>
        <ion-label floating>Tanggapan</ion-label>
        <ion-select [(ngModel)]="response.type" name="type">
          <ion-option value="konfirmasi">Konfirmasi</ion-option>
          <ion-option value="selesai">Selesai</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Keterangan</ion-label>
        <ion-textarea rows="4" name="information" [(ngModel)]="response.information"></ion-textarea>
      </ion-item>

      <div padding>
        <button ion-button block>Simpan</button>
      </div>
    </ion-list>
  </form>


</ion-content>
