<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Buat Post Baru</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="onSubmit(post)">

    <div class="alert-danger" *ngIf="error && error.length > 0">
      <i class="fa fa-exclamation-triangle"></i> &nbsp; {{error}}
    </div>

    <ion-list>

      <ion-item>
        <ion-label stacked>Judul</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="post.title"></ion-input>
      </ion-item>

      <ion-item style="margin-bottom: 10px">
        <ion-label stacked>Lokasi</ion-label>
        <ion-input type="text" name="location" [(ngModel)]="post.location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Subyek</ion-label>
        <ion-select name="subject" [(ngModel)]="post.subject"  multiple="true">
          <ion-option *ngFor="let subject of subjectArray" [value]="subject.id">
            <span style="text-transform: capitalize">{{capitalize(subject.id)}}</span>
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Tujuan</ion-label>
        <ion-select name="topic" [(ngModel)]="post.topic" multiple="true">
          <ion-option *ngFor="let topic of topicArray" [value]="topic.id">
            <span style="text-transform: capitalize">{{capitalize(topic.id)}}</span>
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Keterangan</ion-label>
        <ion-textarea rows="4" name="information" [(ngModel)]="post.information"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Publik</ion-label>
        <ion-toggle [(ngModel)]="post.public" name="privacy"></ion-toggle>
      </ion-item>

      <ion-item>

      <button ion-button (click)="onAddPhoto()" clear small type="button" [disabled]="imageArray.length >= 5">
        <i class="fa fa-camera"></i> &nbsp; Foto
      </button>

      <div>
        <span *ngFor="let img of imageArray" class="media-thumb"  [ngStyle]="{'background-image': 'url(' + pathForImage(img) + ')'}"></span>
      </div>

      <!--<button ion-button clear small type="button">-->
        <!--<i class="fa fa-video-camera"></i> &nbsp; Video-->
      <!--</button>-->
      <!-- <button ion-button clear small type="button">
        <i class="fa fa-file-pdf-o"></i> &nbsp; Dokumen
      </button> -->

      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button block>Kirim</button>
    </div>
  </form>
</ion-content>
