<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ng-container *ngIf="userProvider.userInfo">
      <h4 style="text-transform: capitalize; border-bottom: 1px solid #ccc; font-weight: 400">{{userProvider.userInfo.name.toLowerCase()}} <small style="text-transform: lowercase">@{{userProvider.userInfo.username.toLowerCase()}}</small></h4>
    </ng-container>
    <ion-list>
      <button (click)="logout()" ion-item menuClose><i class="fa fa-sign-out"></i> &nbsp; Logout</button>
      <button ion-item menuClose (click)="openAbout()"><i class="fa fa-info-circle"></i> &nbsp; About</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
