// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.alert-info {
  padding: 20px;
  color: #fff !important;
  background-color: #4a87ee !important;
}
.alert-success {
  padding: 20px;
  color: #fff !important;
  background-color: #66cc33 !important;
}
.alert-warning {
  padding: 20px;
  color: #fff !important;
  background-color: #ef4e3a !important;
}

.alert-danger {
  padding: 20px;
  color: #fff !important;
  background-color: #ef4e3a !important;
}


.center-me {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-md {
  margin: 0
}

.list-ios {
  margin: 0
}
